<div id='messageBoxId' name='messageBoxId'></div>

  <div id="Table_Container" style="float:left" >
	<div id="Table Header" style="float:left">
		<div id="Last Modified Info" >  

		</div>
	</div>
	<br>
	<div id="blank_spot">
	<table id="example" class="table">
        <thead>
            <tr>
				<th>Team</th>
				<th>Player</th>
                <th>Last Year Cost</th>
				<th>ESPN ADV</th>
                <th>2015 Keeper Cost</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Team</th>
				<th>Player</th>
                <th>Last Year Cost</th>
				<th>ESPN ADV</th>
                <th>2015 Keeper Cost</th>
            </tr>
        </tfoot>
    </table>
	
	
	</div>
  </div>
  
