<html>
<body>
<div class="container-fluid">
<h3>The plan...</h3>
<dl class="dl-horizontal">
	<dt>11a </dt><dd>Brunch at <a href='http://henhouseeatery.com'>Hen House Eatery</a></dd>
	<dt>12-1p</dt><dd><a href='http://millcityfarmersmarket.org/visit/winter-markets/'>Mill City Winter Markets</a> (hours: 10a-1p) </dd>
	<dt>1-3p</dt><dd> <a href='www.walkerart.org'>Walker Art Museum</a> (Open 11a-5p)
		<ul>
			<li><strong> 2p </strong> : <a href='http://www.walkerart.org/calendar/2015/2015-british-arrows-awards'>British Arrows Awards</a> @ Walker</li>
			<li>Andrea Buttner</li>
			<li>Hippie Modernisim: The Struggle for Utopia</li>
			<li>Art at the Center: 75 Years of Walker Collections</li>
		</ul>
	</dd>
	<dt> 3-5p</dt><dd> <a href='http://www.artsmia.org'>Minneapolis Institute of Arts (open 10a-5p)</a>
		<ul>
			<li>Delacroix's Influence: The Rise of Modern Art from Cezanne to van Gogh</li>
			<li>Trees Lovely as a Poem: Works on Paper</li>
		</ul>
	</dd>
	<dt>5:30p</dt><dd>Dinner at <a href=''>Tongue in Cheek</a></dd>
	<dt>7:30p</dt><dd><a href='http://parksquaretheatre.org/'>Jacob Marley's Christmas Carol</a></dd>

</dl>

<h3>The options...</h3>
<dl class="dl-horizontal">
	<dt>12-1p</dt><dd> <a href='http://solarartsbuilding.com/winter-market-december-19th/'>Solar Arts Building - Indoor Winter Farmer's Market</a></dd>
	
	
	<dt>  5p/6p/7p</dt><dd><a href='http://www.mnhs.org/event/237'>An Eventually Christmas: Holidays at the Mill</a>, Includes Mill City Museum admission </dd>
	<dt> 3p-8p </dt><dd> <a href='http://www.roguebuddha.com'>Nicholas Harper Fine Art</a>@ Rogue Buddha gallery</dd>
</dl>

<h3>Regrets...</h3>

<ul>
	<li>The Depot Ice Rink is closed on Dec 19.</li>
	<li> 7p-11p : <a href='http://publicfunctionary.org/liza-slyvestre-meridians/'>Lize Sylvestre: Meridians</a> @ the Public Functionary - This won't work due to timing of the Christmas Carol show. We can go another time.</li>
</ul>

</body>
</html>

